* {
	font-family: Verdana, Arial, sans-serif;
}

h1, h2 {
	font-weight: bold;
}

em {
	color: inherit;
}

img.icon {
	height: 80px;
	max-width: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.top-buffer {
	margin-top: 20px;
}
