* {
	color: white;
}

div {
	background-color: #234;
}

h1.gold {
	color: #ca6;
}

body {
	background-color: #012;
}



table.outline td {

	border: 1px solid #ca6;

}

table.outline {
	background-color: #234;
}