* {
	font-family: Verdana, Arial, sans-serif;
}

em {
	font-family: inherit;
	font-style: italic;
}

div.info {
	margin: 0 auto;
	width: 80%;
	padding: 15px;
	border-radius: 10px;
	box-sizing: border-box;
}

div.one-half {
	width: 48%;
	margin: 1% auto;
	text-align: center;
}

div.left {
	float: left;
}

div.right {
	float: right;
}

div.new-row {
	clear: both;
}

div p {
	margin: auto;
}

div p.para {
	text-indent: 5em;
}

h1 {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}

h2 {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}

h3 {
	font-size: inherit;
	text-align: center;
	font-weight: bold;
	margin: 0;
}

h4 {
	font-size: inherit;
	text-align: center;
	font-weight: inherit;
	margin: 0;
}

body {
	font-size: 18px;
}

img {
	display: block;
	margin: 0 auto;
}

img.icon {
	height: 80px;
	max-width: 80%;
}
