body {
  background-color: #555;
  color: #ddd;
  font-family: Verdana, Geneva, Arial, sans-serif;
}

th, td {
  border: 1px solid white;
  padding: 15px;
}

table {
  border-collapse: collapse;
}

td:first-child {
  font-weight: bold;
}
